// general params
params.out = "nf-out"
params.tools = "whaleprep.py"

// MrBayes parameters
params.ngen = 110000
params.samplefreq = 10
params.burnin = 1000

// Executor parameters
executor.$sge.queueSize = 30
executor.$local.memory = '4 GB'
process.errorStrategy = 'finish'
process.clusterOptions = { "-S /bin/bash -l h_vmem=4G -l h_stack=8M" }
process.penv = 'serial'
process.$PrankAlignment.executor = 'sge'
process.$MrBayesMCMC.executor = 'sge'
process.$AleObserve.executor = 'sge'
