// general params
params.out = "nf-out"
params.tools = "/home/arzwa/dev/whaleprep/whaleprep.py"

// Executor parameters
//executor.$sge.queueSize = 30
//executor.$local.memory = '2 GB'
//process.errorStrategy = 'finish'
//process.clusterOptions = { "-S /bin/bash -l h_vmem=2G -l h_stack=8M" }
//process.penv = 'serial'
//process.$MafftAlignment.executor = 'sge'
//process.$Prequal.executor = 'sge'
